@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
 margin: 0px;
 min-width: 100vw;
 min-height: 100vh;
 --foreground: #deadbeef;
 --text: #000000;
 --background: #ffffff;
 --accent-hover: #235d23ff;
 --accent: #286d28ff;
 --accent-compliment: #0bb060;
 background-image: url("./static/grass_tile.webp");
 background-size: 4rem;
 animation: shifting 900s linear infinite;
 font-family: "Roboto", sans-serif;
 overflow: hidden;
 color: var(--text);
}

@media( prefers-color-scheme: dark ) {
   body {
      --foreground: #deadbeef;
      --text: #FFFFFF;
      --background: #000000;
      --accent: #286d28ff;
   }
}
@keyframes shifting {
   0% {
      background-position: 0% 0%;
   }

   50% {
      background-position: 100% 100%;
   }

   100% {
      background-position: 0% 0%;
   }
}
button {
   background: none;
   border: none;
   outline: none;
   box-shadow: none;
   color: var(--text);
}

main {
   display: grid;
   justify-items: center;
   grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

#cookie-pop-up {
   margin: 1rem;
   border-radius: 1rem;
   border: none;
   background: var(--background);
   color: var(--text);
}

.plus {
   min-width: 3rem;
   min-height: 3rem;
   background-color: var(--accent);
   border-radius: 50%;
   font-size: 1.5rem;
   /* position: absolute; */
   /* bottom: 1rem;
   right: 1rem; */
   /* top: calc(100vh - 1.5rem); */
   margin: .25rem;
   /* left: calc(100vw - 1.5rem); */
}

#cookie-nav {
   display: flex;
   flex-direction: row;
   justify-content: right;
   gap: 1em;
}

#cookie-nav > button {
   background-color: var(--accent);
   border-radius: 0.25rem;
   padding: .5rem;
   cursor: pointer;
}

#cookie-nav > button:hover {
   background-color: var(--accent-hover);
}

header {
   background-color: var(--background);
   display: grid;
   justify-items: center;
   padding: 0.25rem;
   font-size: 1em;
}

#unit-container {
   display: flex;
   gap: 1em;
   flex-direction: column;   
}

#unit-container > span > input {
   
}

header > nav {
   width: 100%;
   min-height: 2rem;
   padding: 0.25rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

header > nav > input[type="number"] {
   appearance: none;
   border: none;
   padding: 0.25em;
   border-radius: 0.25em;
   background: rgba(127,127,127,.25);
   color: var(--text);
   font-size: 1em;
}

header > progress[value] {
   width: calc(100% - 1rem);
   height: 0.5rem;
   margin: 0.5rem;
   border-radius: 0.25rem;
   border: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: var(--accent);
   
}

header > ::-webkit-progress-bar {
   width: 80%;
   height: 0.5rem;
   margin: 0.5rem;
   border-radius: 0.25rem;
   border: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: var(--accent);
}

#go-touch-grass[open] {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: transparent;
   border: none;
   min-height: 100vh;
   min-width: min(100vw, 100%);
   margin: 0px;
   padding: 0px;
   display: grid;
   justify-items: center;
   align-items: center;
}

#go-touch-grass > div {
   background: var(--background);
   color: var(--text);
   min-height: 50%;
   min-width: 50%;
   padding: 1rem;
   border-radius: 0.25em;
   display: grid;
   justify-items: center;
   align-items: center;
}

#go-touch-grass > div > button {
   font-size: 1rem;
   background-color: var(--accent);
   padding: 0.5em;
   border-radius: .25em;
}

#go-touch-grass > div > button:hover {
   cursor: pointer;
   background-color: var(--accent-hover);
}

#go-touch-grass > div > q::before {
   content: "“";
}

#go-touch-grass > div > h1 {
   text-align: center;
}

#go-touch-grass > div > h1 > q {
   font-family: "Noto Serif Display";
}

#go-touch-grass > div > q::after {
   content: "”";
}

.final-time {
   font-family: "Kode Mono", "Roboto", sans-serif;
   color: var(--accent);
   font-size: 3.5rem;
}
.final-time::before {
   content: '-';
}