

html, body {
 margin: 0px;
 --foreground: #deadbeef;
 --text: #242092;
 --background: #454545;
 --accent: #b00b5b;
}
button {
   background: none;
   border: none;
   outline: none;
   box-shadow: none;
}
nav {
   background: grey;
   display: flex;
   align-items: space-between;
   justify-content: space-between;
   padding-left: 1rem;
   padding-right: 1rem;
}

