

html, body {
 margin: 0px;
 --foreground: #deadbeef;
 --text: #242092;
 --background: #454545;
 --accent: #b00b5b;
 background-image: url("./static/cool_tile_type_thing.webp");
 background-size: .75rem;
 animation: shifting 500s linear infinite;
}
@keyframes shifting {
   0% {
      background-position: 0%;
   }

   50% {
      background-position: 100%;
   }

   100% {
      background-position: 0%;
   }
}
button {
   background: none;
   border: none;
   outline: none;
   box-shadow: none;
}
nav {
   background: grey;
   display: flex;
   align-items: space-between;
   justify-content: space-between;
   padding-left: 1rem;
   padding-right: 1rem;
}

